@use "utilities/v";


header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$dual-light-blue;
  color: v.$dual-dark-blue;
  width: 100%;
  margin: 0;
  padding: 20px;
  z-index: 5;
}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$dual-dark-blue;
  color: v.$dual-light-blue;
  font-size: 30px;
  padding: 7px 11px;
  border-radius: 3px;
  cursor: pointer;
}

header .site-title {
  position: relative;
  top: 1px;
  line-height: 0;
}

.header-variations:hover {
  color: v.$dual-extralight-blue;
  cursor: pointer;
}


// Media Queries ------------------------------------
@media (max-width:430px) {

}

@media (min-width:769px){
  header .header-container {
    width: 709px
  }
}

@media (min-width:1025px){
  header .header-container {
    width: 965px
  }
}

@media (min-width:1201px){

}
