@use "utilities/v";


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$dual-light-blue;
  color: v.$dual-dark-blue;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  z-index: 5;
}

header #header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$dual-dark-blue;
  color: v.$dual-light-blue;
  font-size: 35px;
  padding: 5px;
  border-radius: 3px;
  height: 34px;
  width: 34px;
  cursor: pointer;
}

header #header-menu-button:hover {
  background-color: v.$dual-extralight-blue;
  color: v.$dual-dark-blue;
  box-shadow: 0 0 5px 2px rgba(28, 35, 38, 1);
}
