

$background-colour: #f3f2ef;

// $dual-dark-blue: rgba(1, 50, 67, 1);
// $dual-lighter-blue: rgba(30, 81, 123, 1);

$dual-dark-blue: rgba(28, 35, 38, 1);
$dual-light-blue: rgba(28, 101, 107, 1);
$dual-extralight-blue: rgba(28, 141, 147, 1);

$clear-black: rgba(0,0,0,0.5);
$clear-white: rgba(255,255,255,0.1);
