
$dual-dark-blue: rgba(28, 35, 38, 1);
$dual-light-blue: rgba(28, 101, 107, 1);
$dual-extralight-blue: rgba(28, 141, 147, 1);

$clear-black: rgba(0,0,0,0.5);
$total-clear-white: rgba(255,255,255,0.0);
$extraclear-white: rgba(255,255,255,0.2);
$clear-white: rgba(255,255,255,0.5);
$almost-white: rgba(255,255,255,0.7);
